{{ define "content" }}
<div class="card">
  <h2>{{ T "HistoricalClosures" }}</h2>
  {{ if .Closures }}
  <table>
    <thead>
      <tr><th>{{ T "Period" }}</th><th>{{ T "BookingDay" }}</th><th>{{ T "Closed" }}</th><th>{{ T "Days" }}</th><th>{{ T "Booked" }}</th><th>{{ T "Unbooked" }}</th><th>{{ T "Duration" }}</th><th>{{ T "Differs" }}</th></tr>
    </thead>
    <tbody>
    {{ range .Closures }}
      <tr>
        <td><a href="/closures/{{ .ID }}">{{ dateShort .PeriodStartObj }} - {{ dateShort .PeriodEndObj }}</a></td>
        <td>{{ dateShort .BookingDayObj }}</td>
        <td>{{ dateTime .ClosedAt }}</td>
        <td>{{ .TrackedWorkdayCount }}</td>
        <td>{{ .BookedWorkdayCount }}</td>
        <td>{{ .UnbookedWorkdayCount }}</td>
        <td>{{ formatMinutes .TrackedMinutesSnapshot }}</td>
        <td>{{ yesNo .Differs }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
  {{ else }}
    <p>{{ T "NoClosuresYet" }}</p>
  {{ end }}
</div>
{{ end }}
